.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-col{
  background-color: #f3f3f3;
}

.table-col{
  background-color: #FFFFFF;
  border: 1px ridge rgb(189, 189, 189);
}

.riddles-action-col{
  background-color:#DFF6FF;
}

.empty-form-text{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.window-active{
  background-color: #DFF6FF;
  color:#000000;
  font-variant: small-caps;
  border-top: 1px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.window-text{
  background-color: #FFD24C;
  border: 1px solid black;
  font-variant: small-caps;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.browse-riddles-col{
  background-color: #DFF6FF;
  height: 100vh;
  overflow-y: scroll;
}

.column-title{
  font-size:90%;
}

.table-column-title{
  font-size: 1em;
}

.table-column-title-rank{
  font-size: 1.2em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table-content-rank{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

.table-content-rank-score{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.glow {
  text-align: center;
  -webkit-animation: glow 2.5s ease-in-out infinite alternate;
  -moz-animation: glow 2.5s ease-in-out infinite alternate;
  animation: glow 2.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 5px #1f51db, 0 0 10px #1f51db, 0 0 15px #1f51db, 0 0 20px #1f51db, 0 0 25px #1f51db;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 10px #000000, 0 0 1px #000000, 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
  }
}

.glow-rank {
  text-align: center;
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow-rank 4s ease-in-out infinite alternate;
}

@keyframes glow-rank {
  from {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #FFD700, 0 0 1px #FFD700, 0 0 1px #FFD700, 0 0 1px #FFD700, 0 0 1px #FFD700;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 1px #000000, 0 0 2px #000000, 0 0 3px #000000, 0 0 4px #000000, 0 0 5px #000000, 0 0 6px #000000;
  }
}

.table-content{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.05em;
}

.question-open-text{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question-closed-text{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gained-points-text{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.no-correct-answers-text{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bordered-text{
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0); 
}

.constant-tilt-shake {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  animation: tilt-shaking 0.3s infinite;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}
.waviy span {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.animated-answer-text {
  position: relative;
}
.animated-answer-text span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
.divider {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  padding-bottom: 0%;
  border: 1;
  border-top: 0.5px solid rgb(0, 0, 0);
}

.logo-text{
  font-size: 2vw;
  font-variant: small-caps;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.login-form{
  border: 3px ridge rgb(255, 255, 255);
  padding: 2%;
  background-color: #1363DF;
}

.answer-form{
  border: 3px ridge rgb(255, 255, 255);
  padding: 2%;
  background-color: #47B5FF;
}

.closed-riddle-panel{
  border: 3px ridge rgb(255, 255, 255);
  padding: 2%;
  background-color: #1363DF;
}

.login-form-whole-page{
 width:100%;
 height: 100vh;
 background-color: #f3f3f3;
}

.expanded-row{
  background-color: rgb(255, 255, 255);
}
.hidden-row{
  display: none;
}

.status-open{
  border: 1px solid #8adbd788;
  background-color: #8adbd786;
}

.status-closed{
  color:rgb(230, 11, 11);
}

@media only screen and (max-width: 800px){
  .table-content{
    font-size: 0.6em;
  }
  .logo-text{
    font-size: 4vw;
  }
}

.pulsing-text {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	transform: scale(1);
	animation: pulse 2.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

.pulsing-text-arrows {
	transform: scale(1);
	animation: pulse-arrows 1s infinite;
}

@keyframes pulse-arrows {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(0.95);
	}
}

.pulsing-text-light {
	transform: scale(1);
	animation: pulse-arrows 1.5s infinite;
}

@keyframes pulse-arrows {
	0% {
		transform: scale(0.98);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.98);
	}
}

.pulsing-text-strong {
	transform: scale(1);
	animation: pulse-arrows 1s infinite;
}

@keyframes pulse-arrows {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0.95);
	}
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #DFF6FF;
}

*::-webkit-scrollbar-thumb {
  background-color: #99bfd8;
  border-radius: 20px;
  border: 1px solid #c2c1c1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #99bfd8 #DFF6FF;
}